---
import PrimaryButton from "../button/primaryButton.astro"
import SecondaryButton from "../button/secondaryButton.astro"
---

<section class="heroSection">
    <div class="heroDivContent">
        <h1>memories are made here</h1>
        <h3>quality outdoor landscaping services</h3>
    </div>
    <div class="heroButtons">
        <PrimaryButton buttonText="Get a Free Quote"/>
        <SecondaryButton buttonText="View Services"/>
    </div>
</section>
