---
import Footer from "../components/footer/footer.astro"
import Header from "../components/header/header.astro"
---

<Header />
<h1>services</h1>
<Footer />

<style>
    body {
        background-color: #F0EBDD;
        font-family: sans-serif;
        font-size: 32px;
    }
</style>