---
import { Image } from "astro:assets";
import siteContent from "../../data/site-content.json";
import { getAssetByPath } from "../../utils/getAssetByPath";

const companyInfo = siteContent.companyInfo;
const logoImage = getAssetByPath(companyInfo.logo.image);
---

<a href="/" class="logo-link">
  <Image
    src={logoImage}
    width={160}
    alt={companyInfo.logo.imageAlt}
    class="logo-img"
  />
</a>
