---
import siteContent from "../../data/site-content.json";
---

<a href="/" class="logo-link">
  <img src="src/assets/logo.png" alt={siteContent.components.header.businessLogo.imageAlt} class="logo-img" />
</a>
