---
import siteContent from "../../data/site-content.json";
import { getAssetByPath } from "../../utils/getAssetByPath";

const companyInfo = siteContent.companyInfo;
const logoImage = getAssetByPath(companyInfo.logo.image);
---

<a href="/" class="logo-link">
  <img src={logoImage.src} alt={companyInfo.logo.imageAlt} class="logo-img" />
</a>
