<a href="/" class="logo-link">
  <img src="src/assets/logo.png" alt="Company Logo" class="logo-img" />
</a>

<style>
  .logo-link {
    display: inline-block;
    text-decoration: none;
  }

  .logo-img {
    height: 50px;
    width: auto;
    display: block;
    transition: 0.3s;
  }

  .logo-img:hover {
    opacity: 0.8;
  }
</style>
