---
import siteContent from "../../data/site-content.json";
---

<a href={`tel:${siteContent.components.header.callNow.phoneNumber}`} class="call-now-button btn-pulse">
  {siteContent.components.header.callNow.label}
</a>
