---
import siteContent from "../../data/site-content.json";

const companyInfo = siteContent.companyInfo;
---

<a href={`tel:${companyInfo.phoneNumber}`} class="call-now-button btn-pulse">
  {siteContent.components.header.callNow.label}
</a>
