---
import NavLink from "../header/navLink.astro"
import siteContent from "../../data/site-content.json";
---

<div class="navLinks">
  {siteContent.header.links.map(({ name, href }) => (
    <NavLink linkName={name} linkHref={href} />
  ))}
</div>
